@{
    var bilimbank = "@bilimbank";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bilimbank</title>
    <!--<link rel="stylesheet" type="text/css" href="site.css">-->
    <link rel="stylesheet" href="~/css/Bilmbank.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-container-left_section">
                <img class="svg-logo" src="~/pict/logo-icon 1.svg">
                <div class="header-container-left_section-text">BilimBank</div>

            </div>
            <div class="header-container-right_section">
                <div class="header-container-right_section-lang">
                    <div class="header-container-right_section-lang-element"><a class="a-lang" href="#">uz</a></div>
                    <div class="header-container-right_section-lang-element"><a class="a-lang" href="	">ru</a></div>
                </div>
                <!--<button type="button" id="myBtn" class="header-container-right_section-login"></button>-->
                <a class="header-container-right_section-login" asp-controller="Account" asp-action="Login">Войти</a>
            </div>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <footer>
        <div class="footer-cont">
            <div class="footer-cont-1">
                <img class="footer-logo" src="~/pict/logo-icon 1.svg">
                <div class="footer-cont-1-text">BilimBank</div>
            </div>
            <div class="footer-table">
                <div class="footer-table-column-1">
                    <div class="footer-table-column-1-1">
                        <div class="column-element">О школе</div>
                        <div class="column-element">Вакансии</div>
                        <div class="column-element">Компаниям</div>

                    </div>
                    <div class="footer-table-column-1-2">
                        <div class="column-element">Процесс обучения</div>
                        <div class="column-element">Условия пользования</div>
                        <div class="column-element">Политика конфиденциальности</div>
                        <div class="column-element">Сведения об образовательной организации</div>
                    </div>
                </div>
                <div class="footer-table-column-2">
                    <div class="column-element">Онлайн-курсы</div>
                    <div class="column-element">Программы</div>
                    <div class="column-element">Выбинары</div>
                    <div class="column-element">Фестивали</div>
                    <div class="column-element">Карьера</div>
                </div>
                <div class="footer-table-column-3">
                    <div class="column-element">
                        <img class="footer-icon" src="~/pict/foot_teleg.png">
                        <a class="column-href" href="#">@bilimbank</a>
                    </div>
                    <div class="column-element">
                        <img class="footer-icon" src="~/pict/foot_inst.png">
                        <a class="column-href" href="#">@bilimbank</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-rights">
            <div class="all-rights-1">
                © 2023 Все права защищены, bilimbank
            </div>
        </div>
    </footer>
</body>
</html>