@model Backend.ViewModels.RegisterViewModel
@{
    Layout = "RegisterLayout";
    ViewBag.Title = "Registration";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" type="text/css" href="~/css/Bilmbank.css">
<link rel="stylesheet" type="text/css" href="~/css/reg_form.css">

<div class="main-container">
    <form id="log-form" class="log-block-form" asp-controller="Account" asp-action="Register">
        <div class="log-container">
            <label class="log-label" for="email">Имя</label>
            <input asp-for="Name" class="reg-log-input" type="text"  required>

            <label class="log-label" for="email">Фамилия</label>
            <input asp-for="LastName" class="reg-log-input" type="text"  required>

            <label class="log-label" for="psw">Отчество</label>
            <input asp-for="Surname" class="reg-log-input" type="text" required>

            <label class="log-label" for="psw">Почта</label>
            <input asp-for="Email" class="reg-log-input" type="text"  required>

            <label class="log-label" for="email">Логин</label>
            <input asp-for="Login" class="reg-log-input" type="text" required>

            <label class="log-label" for="psw">Пароль</label>
            <input asp-for="Password" class="reg-log-input" type="password" required>

            <label class="log-label" for="psw">Подтвердите пароль</label>
            <input asp-for="ConfirmPassword" class="reg-log-input" type="password" required>

            <label class="log-label-l" for="psw">
                Если вы являетесь сотрудником банка, укажите банк*<br>
                <div class="log-label-l-sr">(Необязательное поле)</div>
            </label>
            <input type="text" list="banks" class="reg-log-input"/>
            <datalist id="banks">
                <option value="bank0">BilimBank</option>
                <option value="bank1">BilimBank</option>
                <option value="bank2">BilimBank</option>
            </datalist>
            <button type="submit" class="registerbtn">
                <div class="log-in-btn">Завершить регистрацию</div>
            </button>
        </div>
    </form>
</div>