@model Backend.ViewModels.RegisterViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Регистрация";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" type="text/css" href="My account.css">
<link rel="stylesheet" type="text/css" href="Bilmbank.css">
<div style="padding: 20px;"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="card card-account card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center paragraphHome text-black">Регистрация</h3>
                        </div>
                        <div class="card-body">
                            <form asp-controller="Account" asp-action="Register">
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                                <div class="form-group">
                                    <input asp-for="Name" placeholder="Name" class="form-control textbox-dg font-weight-bold text-center" type="text">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="off" asp-for="LastName" placeholder="Last name" class="form-control textbox-dg font-weight-bold text-center" type="text">
                                </div>
                                <div class="d-grid gap-2 d-md-block float-right" />
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                                <div class="form-group">
                                    <input asp-for="Surname" class="form-control textbox-dg font-weight-bold text-center" placeholder="Surname" type="text">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="off" asp-for="Login" placeholder="Login" class="form-control textbox-dg font-weight-bold text-center" type="text">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="off" asp-for="Password" placeholder="Password" class="form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="off" asp-for="ConfirmPassword" placeholder="Password" class="form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <div>
                                    <h2 class="paragraphHome text-center"><a asp-controller="Account" target="_blank" asp-action="Login" style="color:deepskyblue;">Вход</a></h2>
                                </div>
                                <button class="btn btn-success btn-lg float-right" type="submit">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>