.layout {
    margin-top: 54px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}


.layoutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1097px;
    min-width: 1097px;
}

.navigationsLeft {
    width: 255px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.courseHeader {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 24px;
}

.courseHeaderTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.lessonTitleLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    height: 24px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.cursorPointer {
    cursor: pointer;
}
.cursorPointer:hover {
    color: #0093DC;
}

.divider {
    height: 472px;
    width: 2px;
    margin: 0 32px;
    background: #F5F5F5;
}

.content {
    width: 765px;
}

.selectedLine {
    color: #0093DC;
}