.layout {
    margin-top: 54px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}


.layoutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1097px;
    min-width: 1097px;
}

.navigationsLeft {
    width: 255px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.courseHeader {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 24px;
}

.courseHeaderTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.lessonTitleLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    height: 24px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.cursorPointer {
    cursor: pointer;
}
.cursorPointer:hover {
    color: #0093DC;
}

.divider {
    height: 472px;
    width: 2px;
    margin: 0 32px;
    background: #F5F5F5;
}

.content {
    width: 765px;
}

.selectedLine {
    color: #0093DC;
}

.layoutContainerMobile {
    display: none;

    font-family: Prompt, serif;
}

@media only screen and (max-width: 844px) {

    .layout {
        width: 100vw;
        box-sizing: border-box;
        padding: 0 2rem;
        margin-top: 1rem;
    }

    .layoutContainer {
        display: none;
    }

    .layoutContainerMobile {
        display: inline;
        width: 100%;
    }

    .courseHeader {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 2rem 1rem;
        border-bottom: 2px solid #F5F5F5;
        flex-wrap: wrap;
        gap:0.5rem;
    }
    .courseHeader h1 {
        margin: 0;
    }
    .courseHeader h1,
    .courseHeader nav {
        white-space: nowrap;
    }

    .courseNavigation {
        display: flex;
        gap: .5rem;
        font-size: 4vw;
        align-items: center;
    }

    .courseNavigation select {
        width: 100%;
        padding: 0.5rem;
    }

    .lessonContent {
        box-sizing: border-box;
        height: auto;
    }
}
