@model Backend.ViewModels.HomeViewModel
@{
	
    Layout = "_Layout";
    ViewBag.Title = "Main page";
}
<html>
<body>
	@if (Model.lang == 0)
	{
		<div class="block-learn-in">
			<img class="block-learn-in_left-section" src="~/pict/Home/guy3.png">
			<div class="block-learn-in_right-section">
				<div class="block-learn-in_right-section-top">
					<div class="block-learn-in_right-section-top-top"><br>BilimBankda ta’lim oling</div>
					<div class="block-learn-in_right-section-top-bot">Professional kapitalingizni oshiring</div>
				</div>
				<div class="block-learn-in_right-section-bot"></div>
			</div>
		</div>
		<div class="adv-learn">
			<div class="adv-top">
				O’zingizga investitsiya qiling
			</div>
			<div class="adv-learn-right">
				<div class="adv-learn-right-block">
					<div class="adv-card-book">
						<img class="book-svg" src="~/pict/book.svg">
					</div>
					<div class="card-text">Keng ko’lamli <br>kurslar</div>
				</div>
				<div class="adv-learn-right-block">
					<div class="adv-card-book">
						<img class="book-svg" src="~/pict/Home/book.svg">
					</div>
					<div class="card-text"> <br>Reyting sistemasi</div>
				</div>
				<div class="adv-learn-right-block">
					<div class="adv-card-book">
						<img class="book-svg" src="~/pict/Home/book.svg">
					</div>
					<div class="card-text">Ishni avtomatik<br> tekshirish</div>
				</div>
				<div class="adv-learn-right-block">
					<div class="adv-card-book">
						<img class="book-svg" src="~/pict/Home/book.svg">
					</div>
					<div class="card-text">O’qituvchilar bilan <br> bog’lanish</div>
				</div>
			</div>
		</div>
		<div class="video-block"></div>
		<div class="category_and_popular">
			<div class="category">
				<div class="category-top">
					<div class="category-top-left">Bo’limlar</div>
					<div class="category-top-right">Yana ko’rsatish</div>
				</div>
				<div class="category-bot">
					<div class="category-bot-block">
						<div class="category-bot-block-text">
							<div class="category-bot-block-text-1">
								Banking
							</div>
							<div class="category-bot-block-text-2">
								14 kurs
							</div>
						</div>
						<img class="category-percent" src="~/pict/Home/percent.svg">
						<div class="cat-circle-1"></div>
					</div>
					<div class="category-bot-block">
						<div class="category-bot-block-text">
							<div class="category-bot-block-text-1">
								Banking
							</div>
							<div class="category-bot-block-text-2">
								14 kurs
							</div>
						</div>
						<img class="category-percent" src="~/pict/Home/percent.svg">
						<div class="cat-circle-2"></div>
					</div>
					<div class="category-bot-block">
						<div class="category-bot-block-text">
							<div class="category-bot-block-text-1">
								Banking
							</div>
							<div class="category-bot-block-text-2">
								14 kurs
							</div>
						</div>
						<img class="category-percent" src="~/pict/Home/percent.svg">
						<div class="cat-circle-3"></div>
					</div>
					<div class="category-bot-block">
						<div class="category-bot-block-text">
							<div class="category-bot-block-text-1">
								Banking
							</div>
							<div class="category-bot-block-text-2">
								14 kurs
							</div>
						</div>
						<img class="category-percent" src="~/pict/Home/percent.svg">
						<div class="cat-circle-4"></div>
					</div>
				</div>
			</div>
			<div class="popular">
				<div class="popular-top">
					<div class="popular-top-left">Popular courses</div>
				</div>
				<div class="popular-bot">
					<div class="popular-bot-block">
						<img class="popular-bot-block" src="~/pict/Shared/photo.png">
						<div class="popular-bot-block-deco-1">
							<div class="popular-bot-block-deco-title">Kurs: инвестиции<br> for beginners</div>
						</div>
					</div>
					<div class="popular-bot-block">
						<img class="popular-bot-block" src="~/pict/Shared/photo.png">
						<div class="popular-bot-block-deco-2">
							<div class="popular-bot-block-deco-title">Kurs: инвестиции<br> for beginners</div>
						</div>
					</div>
					<div class="popular-bot-block">
						<img class="popular-bot-block" src="~/pict/Shared/photo.png">
						<div class="popular-bot-block-deco-3">
							<div class="popular-bot-block-deco-title">Kurs: инвестиции<br> for beginners</div>
						</div>
					</div>
				</div>
			</div>
			<button class="show_more">
				Yana ko’rsatish
			</button>
		</div>
		<div class="mobility">
			<div class="mobility-left">
				<div class="mobility-left-top">
					<div class="mobility-left-top-1">Yanada ko'proq harakat, ko'proq qulaylik</div>
					<div class="mobility-left-top-2">Tez kunda bizning mobil dasturlarimiz PlayMarket va AppleStore da</div>
				</div>
				<button class="mobility-left-download">Yuklab olish</button>
			</div>
			<div class="mobility-right">
				<img src="~/pict/Home/Mask group.png">
			</div>
		</div>
		<div class="partners">
			<div class="partners-top">Bizning hamkorlar</div>
			<div class="partners-photo-block">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
			</div>
		</div>

	}
	else
	{
	<div class="block-learn-in">
			<img class="block-learn-in_left-section" src="~/pict/Home/guy3.png">
		<div class="block-learn-in_right-section">
			<div class="block-learn-in_right-section-top">
				<div class="block-learn-in_right-section-top-top">Учись <br> в BilimBank</div>
				<div class="block-learn-in_right-section-top-bot">Увеличивай свой профессиональный капитал</div>
			</div>
			<div class="block-learn-in_right-section-bot"></div>
		</div>
	</div>
	<div class="adv-learn">
		<div class="adv-top">
			Инвестируй в себя
		</div>
		<div class="adv-learn-right">
			<div class="adv-learn-right-block">
				<div class="adv-card-book">
						<img class="book-svg" src="~/pict/Home/book.svg">
				</div>
				<div class="card-text">Широкий выбор <br>курсов</div>
			</div>
			<div class="adv-learn-right-block">
				<div class="adv-card-book">
						<img class="book-svg" src="~/pict/Home/book.svg">
				</div>
				<div class="card-text">Система <br>рейтинга</div>
			</div>
			<div class="adv-learn-right-block">
				<div class="adv-card-book">
						<img class="book-svg" src="~/pict/Home/book.svg">
				</div>
				<div class="card-text">Автоматическая проверка работы</div>
			</div>
			<div class="adv-learn-right-block">
				<div class="adv-card-book">
						<img class="book-svg" src="~/pict/Home/book.svg">
				</div>
				<div class="card-text">Комуникация <br>с преподавателем</div>
			</div>
		</div>
	</div>
	<div class="video-block"></div>
	<div class="category_and_popular">
		<div class="category">
			<div class="category-top">
				<div class="category-top-left">Категории</div>
				<div class="category-top-right">Показать больше</div>
			</div>
			<div class="category-bot">
				<div class="category-bot-block">
					<div class="category-bot-block-text">
						<div class="category-bot-block-text-1">
							Банкинг
						</div>
						<div class="category-bot-block-text-2">
							14 курсов
						</div>
					</div>
					<img class="category-percent" src="~/pict/Home/percent.svg">
					<div class="cat-circle-1"></div>
				</div>
				<div class="category-bot-block">
					<div class="category-bot-block-text">
						<div class="category-bot-block-text-1">
							Банкинг
						</div>
						<div class="category-bot-block-text-2">
							14 курсов
						</div>
					</div>
						<img class="category-percent" src="~/pict/Home/percent.svg">
					<div class="cat-circle-2"></div>
				</div>
				<div class="category-bot-block">
					<div class="category-bot-block-text">
						<div class="category-bot-block-text-1">
							Банкинг
						</div>
						<div class="category-bot-block-text-2">
							14 курсов
						</div>
					</div>
						<img class="category-percent" src="~/pict/Home/percent.svg">
					<div class="cat-circle-3"></div>
				</div>
				<div class="category-bot-block">
					<div class="category-bot-block-text">
						<div class="category-bot-block-text-1">
							Банкинг
						</div>
						<div class="category-bot-block-text-2">
							14 курсов
						</div>
					</div>
						<img class="category-percent" src="~/pict/Home/percent.svg">
					<div class="cat-circle-4"></div>
				</div>
			</div>
		</div>
		<div class="popular">
			<div class="popular-top">
				<div class="popular-top-left">Популярные курсы</div>
			</div>
			<div class="popular-bot">
				<div class="popular-bot-block">
					<img class="popular-bot-block" src="~/pict/Shared/photo.png">
					<div class="popular-bot-block-deco-1">
						<div class="popular-bot-block-deco-title">Курс: инвестиции<br> для начинающих</div>
					</div>
				</div>
				<div class="popular-bot-block">
					<img class="popular-bot-block" src="~/pict/Shared/photo.png">
					<div class="popular-bot-block-deco-2">
						<div class="popular-bot-block-deco-title">Курс: инвестиции<br> для начинающих</div>
					</div>
				</div>
				<div class="popular-bot-block">
					<img class="popular-bot-block" src="~/pict/Shared/photo.png">
					<div class="popular-bot-block-deco-3">
						<div class="popular-bot-block-deco-title">Курс: инвестиции<br> для начинающих</div>
					</div>
				</div>
			</div>
		</div>
		<button class="show_more">
			Показать больше
		</button>
	</div>
	<div class="mobility">
		<div class="mobility-left">
			<div class="mobility-left-top">
				<div class="mobility-left-top-1">Ещё больше стабильности, ещё больше комфорта</div>
				<div class="mobility-left-top-2">Наше мобильное приложение скоро в гугл плэй и эппл стор</div>
			</div>
			<button class="mobility-left-download">Скачать</button>
		</div>
		<div class="mobility-right">
			<img src="~/pict/Mask group.png">
		</div>
	</div>
	<div class="partners">
		<div class="partners-top">Наши партнёры</div>
		<div class="partners-photo-block">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
				<img class="partners-photo" src="~/pict/Home/partn.png">
		</div>
		</div>
	}
</body>
</html>