<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToTrace="true" internalLogIncludeTimestamp="true" internalLogLevel="Error">

	<variable name="globalLevel" value="Trace"/>
	<variable name="logDirectory" value="${basedir}/Logs"/>
	<variable name="logExtension" value="_log.txt"/>

	<targets>
		<target name="logSmallFile"
				xsi:type="File"
				layout="${longdate} ${level} ${callsite:className=true} ${AssemblyInfoMessageRenderer}${AutoFromatMessageRenderer} ${exception:format=ToString} ${message}"
				archiveAboveSize="104857600"
				encoding="utf-8"
				fileName="${var:logDirectory}/${date:format=yyyyMMdd}${var:logExtension}" />
	</targets>
	<rules>
		<!--
    <logger name="*" minlevel="${var:globalLevel}" writeTo="logFullFile" />
    -->
		<logger name="*" minlevel="${var:globalLevel}" writeTo="logSmallFile" />
	</rules>
</nlog>