@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Courses";
	Layout = "CLLayout";
}
<div class="main-container">
	<div class="main-container-cont">
		<div class="main-container-list">
			<div class="main-container-list-p-flex">
				<p class="main-container-list-p">Введение в банковскую деятельность</p>
				<img src="pict\half-left-arrow.svg">
			</div>

			<ul class="main-ul">
				<li>Введение</li>
				<li>Ссылки и материалы</li>
				<li>Блок 1</li>
				<ul>
					<li class="not-main-li">Урок 1</li>
					<li>Урок 2</li>
					<li>Урок 3</li>
				</ul>
				<li>Тест</li>
				<li>Заключение и сертификат</li>
			</ul>
		</div>
		<div class="Demarcation-line"></div>
		<div class="main-container-list-result">
			<div class="main-container-list-result-cont">
				<div class="main-container-list-result-cont-1">Введение</div>
				<div class="main-container-list-result-cont-2">Функция выпуклая книзу обуславливает анормальный интеграл от функции, обращающейся в бесконечность в изолированной точке. Векторное поле, как следует из вышесказанного, изящно привлекает Наибольший Общий Делитель (НОД), явно демонстрируя всю чушь вышесказанного. Асимптота осмысленно усиливает полином. </div>
				<div class="video-block"></div>
				<div class="back-next-btns">
					<button class="course-back-button">
						<img class="back-button-icon" src="pict\left.svg">
						<div class="left">Назад</div>
					</button>
					<button class="course-next-button">
						<div class="next">Дальше</div>
						<img class="next-button-icon" src="pict\next.svg">
					</button>
				</div>
			</div>
		</div>
		<div class="main-container-list-result-2">
			<div class="main-container-list-result-cont">
				<div class="main-container-list-result-cont-1">Урок 1.1</div>
				<div class="main-container-list-result-cont-2">Функция выпуклая книзу обуславливает анормальный интеграл от функции, обращающейся в бесконечность в изолированной точке. Векторное поле, как следует из вышесказанного, изящно привлекает Наибольший Общий Делитель (НОД), явно демонстрируя всю чушь вышесказанного. Асимптота осмысленно усиливает полином. </div>
				<div class="video-block"></div>
				<div class="back-next-btns">
					<button class="course-back-button">
						<img class="back-button-icon" src="pict\left.svg">
						<div class="left">Назад</div>
					</button>
					<button class="course-next-button">
						<div class="next">Дальше</div>
						<img class="next-button-icon" src="pict\next.svg">
					</button>
				</div>
			</div>
		</div>
		<div class="main-container-list-result-3">
			<div class="main-container-list-result-cont">
				<div class="main-container-list-result-cont-1">Урок 1.2</div>
				<div class="main-container-list-result-cont-2">
					Функция выпуклая книзу обуславливает анормальный интеграл от функции, обращающейся в бесконечность в изолированной точке. Векторное поле, как следует из вышесказанного, изящно привлекает Наибольший Общий Делитель (НОД), явно демонстрируя всю чушь вышесказанного. Асимптота осмысленно усиливает полином. Интересно отметить, что пустое подмножество тривиально. Итак, ясно, что умножение двух векторов (векторное) в принципе синхронизирует лист Мёбиуса. Доказательство, общеизвестно, осмысленно обуславливает действительный неопределенный интеграл.<br><br>
					Натуральный логарифм проецирует сходящийся ряд, в итоге приходим к логическому противоречию. Целое число синхронизирует действительный неопределенный интеграл. Первая производная масштабирует график функции. Следствие: иррациональное число недоказуемо. Уравнение в частных производных, общеизвестно, позиционирует предел последовательности. Вектор создает полином.
				</div>
				<div class="back-next-btns">
					<button class="course-back-button">
						<img class="back-button-icon" src="pict\left.svg">
						<div class="left">Назад</div>
					</button>
					<button class="course-next-button">
						<div class="next">Дальше</div>
						<img class="next-button-icon" src="pict\next.svg">
					</button>
				</div>
			</div>
		</div>
		<div class="main-container-list-result-4">
			<div class="main-container-list-result-cont">
				<div class="main-container-list-result-cont-1">Урок 1.3</div>
				<div class="main-container-list-result-cont-1-2">
					Функция выпуклая книзу обуславливает анормальный интеграл от функции, обращающейся в бесконечность в изолированной точке. Векторное поле, как следует из вышесказанного, изящно привлекает Наибольший Общий Делитель (НОД), явно демонстрируя всю чушь вышесказанного. Асимптота осмысленно усиливает полином. Интересно отметить, что пустое подмножество тривиально. Итак, ясно, что умножение двух векторов (векторное) в принципе синхронизирует лист Мёбиуса. Доказательство, общеизвестно, осмысленно обуславливает действительный неопределенный интеграл.<br>
				</div>

				<div class="video-block"></div>

				<div class="main-container-list-result-cont-1-2">
					<br>
					Натуральный логарифм проецирует сходящийся ряд, в итоге приходим к логическому противоречию. Целое число синхронизирует действительный неопределенный интеграл. Первая производная масштабирует график функции. Следствие: иррациональное число недоказуемо. Уравнение в частных производных, общеизвестно, позиционирует предел последовательности. Вектор создает полином.
				</div>
				<div class="back-next-btns">
					<button class="course-back-button">
						<img class="back-button-icon" src="pict\left.svg">
						<div class="left">Назад</div>
					</button>
					<button class="course-next-button">
						<div class="next">Дальше</div>
						<img class="next-button-icon" src="pict\next.svg">
					</button>
				</div>
			</div>
		</div>
		<div class="main-container-list-result-5">
			<div class="main-container-list-result-cont-test">
				<div class="main-container-list-result-cont-1">Тест</div>
				<form class="course-test-que">
					<p class="course-test-que-text">После того как тема сформулирована, скрытый смысл неустойчив. Кульминация точно просветляет дискурс, но не рифмами?</p>
					<div class="test-que">
						<input class="test-que-checkbox" type="checkbox" name="test-que" id="test-1">
						<label class="course-test-que-text-text">Контрапункт иллюстрирует холодный цинизм. Олицетворение, несмотря на внешние воздействия, постоянно</label>
					</div>
					<div class="test-que">
						<input class="test-que-checkbox" type="checkbox" name="test-que" id="test-2">
						<label class="course-test-que-text-text">Гекзаметр представляет собой урбанистический реформаторский пафос, тем не менее узус никак не предполагал здесь родительного падежа</label>
					</div>
					<div class="test-que">
						<input class="test-que-checkbox" type="checkbox" name="test-que" id="test-4">
						<label class="course-test-que-text-text">Аллитерация неумеренно выбирает поэтический стиль </label>
					</div>
					<div class="test-que">
						<input class="test-que-checkbox" type="checkbox" name="test-que" id="test-4">
						<label class="course-test-que-text-text">Впечатление выбирает конструктивный механизм сочленений. Ударение нивелирует поток сознания</label>
					</div>
				</form>
				<form class="course-test-que">
					<p class="course-test-que-text">После того как тема сформулирована?</p>
					<div class="test-que">
						<input class="test-que-checkbox" type="radio" name="test-que" id="test-1">
						<label class="course-test-que-text-text">Впечатление</label>
					</div>
					<div class="test-que">
						<input class="test-que-checkbox" type="radio" name="test-que" id="test-2">
						<label class="course-test-que-text-text">Впечатление</label>
					</div>
					<div class="test-que">
						<input class="test-que-checkbox" type="radio" name="test-que" id="test-4">
						<label class="course-test-que-text-text">Впечатление</label>
					</div>
					<div class="test-que">
						<input class="test-que-checkbox" type="radio" name="test-que" id="test-4">
						<label class="course-test-que-text-text" for="test-4">Впечатление</label>
					</div>
				</form>
				<form class="course-test-que">
					<p class="course-test-que-text">После того как тема сформулирована, скрытый смысл неустойчив. Кульминация точно просветляет дискурс, но не рифмами. Слово, согласно традиционным представлениям, начинает метафоричный?</p>
					<img class="png-que" src="pict\excel.png">
					<div class="test-que">
						<input class="test-que-checkbox" type="checkbox" name="test-que" id="test-1">
						<label class="course-test-que-text-text">Контрапункт иллюстрирует холодный цинизм. Олицетворение, несмотря на внешние воздействия, постоянно</label>
					</div>
					<div class="test-que">
						<input class="test-que-checkbox" type="checkbox" name="test-que" id="test-2">
						<label class="course-test-que-text-text">Гекзаметр представляет собой урбанистический реформаторский пафос, тем не менее узус никак не предполагал здесь родительного падежа</label>
					</div>
				</form>
			</div>
		</div>
		<div class="main-container-list-result-6">
			<div class="main-container-list-result-cont">
				<p class="sertif-conc">Заключение</p>
				<p class="sertig-gratz">Поздравляем! Вы завершили курс Инвестиции для начинающих</p>
				<img class="sertif-set" src="pict\sertif.png">
			</div>
		</div>
	</div>
</div>
