.layout {
    height: 100%;
    margin-top: 53px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.layoutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1320px;
    min-width: 1320px;
}

.userDataLeft {
    width: 255px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profileHeader {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 24px;
}

.profilePhoto {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.profilePhotoTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.userInfoLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    height: 24px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.cursorPointer {
    cursor: pointer;
}
.cursorPointer:hover {
    color: #0093DC;
    cursor: pointer;
}

.divider {
    height: 472px;
    width: 2px;
    margin: 0 65px;
    background: #F5F5F5;
}

.content {
    flex-grow: 1;
}

.certA {
    text-decoration: none;
    color: black;
}
.certA:hover{
    color: #0093DC;
}