.layout {
    height: 100%;
    margin-top: 53px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.layoutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1320px;
    min-width: 1320px;
}


.divider {
    height: 472px;
    width: 2px;
    margin: 0 64px;
    background: #F5F5F5;
}

.content {
    flex-grow: 1;
}
