@{

    Layout = "PaymentLayout";
    ViewBag.Title = "Main page";
}
<body>
    <div class="main-container">
        <div class="account-data">
            <div class="user_data">
                <img class="user_data-photo" src="pict\ur_photo.png">
                <div class="user_data-username">kuznetsov_an</div>
            </div>
            <div class="user_info">
                <div class="user_info-block">
                    <img src="pict\people.svg">
                    <div class="user_info-block-name">Андрей Андреевич Кузнецов</div>
                </div>
                <div class="user_info-block">
                    <img src="pict\bag.svg">
                    <div class="user_info-block-name">Банкир в BankName</div>
                </div>
                <div class="user_info-block">
                    <img src="pict\rait.svg">
                    <div class="user_info-block-name">Рейтинг: 200</div>
                </div>
                <div class="user_info-block-1">
                    <div class="user_info-block-1-1">
                        <img src="pict\peoples.svg">
                        <div class="user_info-block-name">Мои рекомендации</div>
                    </div>
                </div>
                <div class="user_info-block">
                    <img src="pict\sertif.svg">
                    <div class="user_info-block-name">Мои сертификаты</div>
                </div>
            </div>
        </div>

        <div class="Demarcation-line"></div>
            <div class="mine_course">
                <div>
                    <div class="ShoppingCart">Корзина</div>
                    <scroll-container>
                        <scroll-page>
                            <img class="cours-scroll" src="pict\cours-scroll.png">
                            <div class="cours-text">
                                <div class="cours-text-top">Инвестиции для начинающих</div>
                                <div class="cours-text-bot">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</div>
                            </div>
                            <div class="cours-info-block">
                                <div class="cours-info-block-hours-1">12 уроков</div>
                                <div class="cours-info-block-hours-2">3.5 часов</div>
                                <button class="cours-info-block-button">Начать</button>
                            </div>
                        </scroll-page>
                        <scroll-page>
                            <img class="cours-scroll" src="pict\cours-scroll.png">
                            <div class="cours-text">
                                <div class="cours-text-top">Инвестиции для начинающих</div>
                                <div class="cours-text-bot">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</div>
                            </div>
                            <div class="cours-info-block">
                                <div class="cours-info-block-hours-1">12 уроков</div>
                                <div class="cours-info-block-hours-2">3.5 часов</div>
                                <button class="cours-info-block-button">Начать</button>
                            </div>
                        </scroll-page>
                        <scroll-page>
                            <img class="cours-scroll" src="pict\cours-scroll.png">
                            <div class="cours-text">
                                <div class="cours-text-top">Инвестиции для начинающих</div>
                                <div class="cours-text-bot">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</div>
                            </div>
                            <div class="cours-info-block">
                                <div class="cours-info-block-hours-1">12 уроков</div>
                                <div class="cours-info-block-hours-2">3.5 часов</div>
                                <button class="cours-info-block-button">Начать</button>
                            </div>
                        </scroll-page>
                    </scroll-container>
                    <a href="#" class="Buy_Button">Купить (10 000)</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>