@model Backend.ViewModels.CartViewModel
@{

    Layout = "PaymentLayout";
    ViewBag.Title = "Cart";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<body>
    <div class="main-container">
        <div class="account-data">
            <div class="user_data">
                <img class="user_data-photo" src="pict\ur_photo.png">
                <div class="user_data-username">kuznetsov_an</div>
            </div>
            <div class="user_info">
                <div class="user_info-block">
                    <img src="pict\people.svg">
                    <div class="user_info-block-name">Андрей Андреевич Кузнецов</div>
                </div>
                <div class="user_info-block">
                    <img src="pict\bag.svg">
                    <div class="user_info-block-name">Банкир в BankName</div>
                </div>
                <div class="user_info-block">
                    <img src="pict\rait.svg">
                    <div class="user_info-block-name">Рейтинг: 200</div>
                </div>
                <div class="user_info-block-1">
                    <div class="user_info-block-1-1">
                        <img src="pict\peoples.svg">
                        <div class="user_info-block-name">Мои рекомендации</div>
                    </div>
                </div>
                <div class="user_info-block">
                    <img src="pict\sertif.svg">
                    <div class="user_info-block-name">Мои сертификаты</div>
                </div>
            </div>
        </div>

        <div class="Demarcation-line"></div>
        <div class="mine_course">
            <div>
                <div class="ShoppingCart">Корзина</div>
                <scroll-container>
                    @if (Model.Courses is not null)
                    {
                        @foreach (var item in Model.Courses)
                        {
                            <scroll-page>
                                <img class="cours-scroll" src="pict\cours-scroll.png">
                                <div class="cours-text">
                                    <div class="cours-text-top">@item.Name</div>
                                    <div class="cours-text-bot">@item.Description</div>
                                </div>
                                <div class="cours-info-block">
                                    <div class="cours-info-block-hours-1">@item.Lessons.Count</div>
                                    <div class="cours-info-block-hours-2">@item.Duration</div>
                                </div>
                            </scroll-page>
                        }

                    }
                </scroll-container>
                <a asp-controller="Cart" asp-action="Payment" class="Buy_Button">Купить (10 000)</a>
            </div>
        </div>
    </div>
</body>
