.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
    background: #F9F9F9;
    height: 36px;

    margin-bottom: 27px;
}

.filterButtonsContainer {
    display: flex;
    gap: 40px;
}

.filterElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
    color: #666666;
    user-select: none;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    height: 20px;

    cursor: pointer;
}

.filterElement:hover {
    color: #0093DC;
}

.filterIcon {
    margin-right: 18px;
}

.filterActive {
    color: #0093DC;
}

.coursesListWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.courseCard {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 150px;

    display: flex;
    width: 935px;
}

.cardImage {
    object-fit: cover;
    max-width: 200px;
    width: auto;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cardInfoFlex {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 12px 16px 9px;
}

.cardTextBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cardTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(0, 0, 0, 0.8);
}

.cardDescription {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 0, 0, 0.8);

    padding-right: 5px;

    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.cardInfoBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.cardInfoText {
    font-family: 'Outfit', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    color: rgb(0, 0, 0, 0.8);
}

.cardButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 226px;

    background: #0093DC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

.cardButtonDisabled {
    opacity: 0.7;
    cursor: default;
}

.cardButtonRed {
    background: #FF6565;
}

@media only screen and (max-width: 1340px) {
    .filterContainer {
        padding: 1rem 12px;
        height: auto;
    }

    .filterElement {
        height: auto;
    }

    .courseCard {
        width: auto;
    }
}

@media only screen and (max-width: 700px) {
    .courseCard {
        flex-wrap: wrap;
        height: auto;
    }

    .cardImage {
        border-bottom-left-radius: 0;
        min-width: 100%;
        border-top-right-radius: 10px;
    }


    .cardInfoBlock {
        width: 100%;
    }
    .cardButton {
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .filterButtonsContainer {
        gap: 0;
    }
}

@media only screen and (max-width: 460px) {
    .cardInfoFlex {
        flex-wrap: wrap;
        gap: 1rem;
    }
    .cardInfoBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        grid-template-rows: 1fr 1fr;
    }
    .cardInfoBlock{
        text-align: center;
    }
    .cardButton {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }

    .cardInfoBlock > img {
        display: none;
    }
}

@media only screen and (max-width: 445px) {
    .filterButtonsContainer {
        flex-wrap: wrap;
        gap: 10px;
    }
}
