.for-check-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.log-block-form {
    display: block;
}

.blockLearnIn {
    width: 1320px;
    height: 676px;
    margin-top: 57px;
    position: relative;
}

.blockLearnInLeftSection {
    position: absolute;
    transform: translateX(-100px);
    height: 676px;
    left: 10px;
    object-fit: contain;

    z-index: 1;
}

.blockLearnInRightSection {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 71px;
}

.blockLearnInRightSectionTopTop {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;

    color: #333333;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.blockLearnInRightSectionTopBot {
    height: 33px;
    margin-left: 20px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;

    color: #000000;
}

.advContainer {
    width: 100%;
    max-width: 1320px;
    box-sizing: border-box;
    padding: 0 1rem;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advTop {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;

    letter-spacing: 0.02em;

    color: #000000;
    margin-bottom: 40px;
}

.advContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.advContentContainerGrid {
    display: none;
}

.advLeftContainer {
    display: flex;
    max-width: 504px;
    background-color: #0093DC;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 20px 20px;
}

.advRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;



}
.advCardLeftImage{
    margin-top: 30px;
    padding: 20px 20px;
    align-self: start;
    margin-bottom: 49px;
}

.advCardImage{
    align-self: center;
    padding: 20px 20px;

}

.advLeftCard {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

}


.advRightCardTop{
    display: flex;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: #004186;
}
.advRightCardMiddle{
    display: flex;
    min-height: 225px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: #02C59D;
}
.advRightCardBottom{
    display: flex;
    min-height: 225px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: #00AFB5;
}

.advCardTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    align-self: center;
}

.advCardText {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    padding-top: 22px;
}

.categoryAndPopular {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
}

.category {
    margin-top: 75px;
    display: flex;
    width: 1320px;
    flex-direction: column;
    margin-bottom: 75px;
}

.categoryTop {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.categoryTopLeft {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
}

.categoryTopRight {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: rgba(0, 0, 0, 0.6);
}

.categoryBot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.categoryBotBlock {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.catCircleSky {
    width: 15px;
    height: 30px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: #0093DC;

    margin-top: auto;
    margin-bottom: auto;
}

.catCircleBlue {
    width: 15px;
    height: 30px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: #004186;

    margin-top: auto;
    margin-bottom: auto;
}

.catCircleMint {
    width: 15px;
    height: 30px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: linear-gradient(0deg, rgba(2, 197, 157, 0.8), rgba(2, 197, 157, 0.8)), #FFFFFF;

    margin-top: auto;
    margin-bottom: auto;
}

.catCircleRed {
    width: 15px;
    height: 30px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: #ff6565;

    margin-top: auto;
    margin-bottom: auto;
}

.categoryPercent {
    margin-left: auto;
}

.categoryBotBlockText {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 15px;
}

.categoryBotBlockTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
}

.categoryBotBlockDuration {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
}


.popular {
    display: flex;
    width: 1320px;
    flex-direction: column;
}

.popularTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 75px;
}

.popularTopLeft {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
}

.popular-top-right {

}

.popularBot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popularBotBlock {
    position: relative;
    width: 415px;
    height: 300px;
    background: #D9D9D9;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.popularBotBlockBlue {
    position: absolute;
    left: -43%;
    width: 770px;
    height: 260px;
    top: 64.39%;
    bottom: -38.18%;
    border-radius: 50%;

    background: #004186;
    backdrop-filter: blur(3px);
}

.popularBotBlockMint {
    position: absolute;
    left: -43%;
    width: 770px;
    height: 260px;
    top: 64.39%;
    bottom: -38.18%;
    border-radius: 50%;

    background: #00AFB5;
    backdrop-filter: blur(3px);
}

.popularBotBlockSky {
    position: absolute;
    left: -43%;
    width: 770px;
    height: 260px;
    top: 64.39%;
    bottom: -38.18%;
    border-radius: 50%;

    background: #0093DC;
    backdrop-filter: blur(3px);
}

.popularBotBlockTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 108.5%;
    /* or 30px */

    text-align: center;

    /* white */

    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    max-width: 415px;
}

.pop-circle {
    width: 600px;
    border-top-left-radius: 30%;
    height: 200px;
    background-color: blue;
    position: absolute;
}

.showMore {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;

    width: 323px;
    height: 44px;

    /* primary_ver_1 */
    color: white;
    background-color: #0093DC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    border-width: 0;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.mobility {
    display: flex;
    flex-direction: row;
    height: 950px;
    width: 1320px;
    justify-content: space-between;
    margin-top: 115px;
}

.mobilityRight {
    margin-top: 110px;
}

.mobilityLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobilityTitle {
    width: 555px;
    height: 112px;
    margin-top: 185px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 138.9%;
}

.mobilityText {
    width: 596px;
    height: 76px;
    left: 300px;
    top: 2690px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.mobilityLeftDownload {
    border-width: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: white;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 432px;
    height: 84px;
    background: #A0A0A0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
}

.partners {
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partnersTop {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
    margin-bottom: 40px;
}

.partnersPhotoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partnersPhoto {
    height: 40px;
    width: 160px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
    margin-top: 85px;
}

.all-rights {
    height: 39px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    background: rgba(225, 225, 225, 1);
}

.all-rights-1 {
    margin-left: auto;
    margin-right: auto;
}

.pb3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 844px) {
    .blockLearnIn {
        min-height: 400px;
        height: auto;
        width: 100%;
        max-width: 1320px;
    }
    .blockLearnInLeftSection {
        width: 45vw;
        height: auto;
        transform: translateY(-12px);
    }

    .blockLearnInRightSection {
        right: 0;
        margin: 0;
        left: 45%;
    }
    .blockLearnInRightSectionTopTop {
        display: flex;
        flex-direction: column;
    }
    .blockLearnInRightSectionTopTop span {
        font-size: 8vw;
        white-space: nowrap;
    }
    .blockLearnInRightSectionTopBot {
        margin: 0;
        height: auto;
        font-size: 5vw;
    }

    .advContainer {
        margin-top: 50px;
    }

    .advLeftContainer {
        min-width: 50%;
        box-sizing: border-box;
    }
    .advCardLeftImage,
    .advCardImage {
        width: 100%;
        box-sizing: border-box;
    }
    .advRightCardTop,
    .advRightCardMiddle,
    .advRightCardBottom {
        flex-direction: column;
        box-sizing: border-box;
        padding: 1rem;
    }

    .advCardImage {
        padding: 0;
    }
}

@media only screen and (max-width: 425px) {
    .blockLearnIn {
        min-height: 25vh;
    }

    .advTop {
        box-sizing: border-box;
        padding: 0 1rem;
        font-size: 7vw;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .advContainer {
        padding: 0;
    }
    .advContentContainerGrid {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        width: 100%;
        box-sizing: border-box;
        padding: 0 1rem;
        gap: 1rem;
    }
    .advContentContainer {
        display: none;
    }
    .advCardLeftImage,
    .advCardImage {
        padding: 0;
        margin: 0;
        height: 50%;
    }
    .advCardTitle {
        text-align: center;
        flex: 1;
        margin-top: 10px;
        font-size: 4vw;
    }
    .advCardText {
        font-size: inherit;
    }
    .advCardText > span {
        font-size: 3vw;
    }

    .mobility {
        margin-top: 0;
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .mobilityTitle {
        margin-top: 0;
        width: 100%;
        white-space: normal;
        font-size: 7vw;
        box-sizing: border-box;
        height: auto;
        padding: 0 1rem;
        word-break: break-word;
        margin-bottom: 1.5rem;
    }
    .mobilityText {
        width: 100%;
        white-space: normal;
        font-size: 4vw;
        box-sizing: border-box;
        height: auto;
        padding: 0 1rem;
        word-break: break-word;
        line-height: normal;
    }
    .mobilityRight {
        margin-top: 0;
        align-self: center;
    }
    .mobilityRight > img {
        width: 100%;
        height: 50vw;
        margin: 0 auto;
    }
}

