@model Backend.ViewModels.DataViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Course creating";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="log-form" class="log-block-form" method="post" asp-controller="Data" asp-action="Lesson">
    <div class="log-container">
        <fieldset id="model" style="border: none">
            <input name="Model" type="hidden" value=@Model>
        </fieldset>
        <label class="log-label">Name</label>
        <input name="Course.Name" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text">
        <label class="log-label">Price</label>
        <input name="Course.Price" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text">
        <label class="log-label">Description</label>
        <input name = "Course.Description" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text">
        <label class="log-label">Course logo</label>
        <input name="Course.MediaPath" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text">
        <div class="d-grid gap-2 d-md-block float-right">

            <button type="submit" class="registerbtn">
                <div class="log-in-btn">Add course</div>
            </button>
        </div>
    </div>
</form>