@model Backend.ViewModels.DataViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Exam creating";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form id="log-form" class="log-block-form" method="post" asp-controller="Data" asp-action="Question">
    <div class="log-container">

            <input name="ModelString" type="hidden" value=@Model.CurrentStruct>
        <label class="log-label">Name</label>
        <input name="Exam.Name" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text">
        <label class="log-label">Type</label>
        <input name="Exam.ExamType" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text">
        <label class="log-label">Description</label>
        <input name="Exam.Description" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text">
        <label class="log-label">Passing grade</label>
        <input name="Exam.PassingGrade" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text">
        <div class="d-grid gap-2 d-md-block float-right">

            <button type="submit" class="registerbtn">
                <div class="log-in-btn">Add exam</div>
            </button>
        </div>
    </div>
</form>