@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Backend.ViewModels.DataViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Lesson creating";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="log-form" class="log-block-form" method="post" asp-controller="Data" asp-action="Lesson">
    <div class="log-container">

        <input name="ModelString" type="hidden" value="@Model.CurrentStruct">
        <label class="log-label">Name</label>
        <input name="Lesson.Name" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text" required>
        <label class="log-label">Description</label>
        <input name="Lesson.Description" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text" required>
        <label class="log-label">Text content</label>
        <input name="Lesson.TextContent" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text" required>
        <label class="log-label">Media content path (can be empty)</label>
        <input name="Lesson.MediaContentPath" placeholder="" class="form-control textbox-dg font-weight-bold text-center reg-log-input" type="text" required>
        <div class="d-grid gap-2 d-md-block float-right">

<button type="submit" class="registerbtn">
    <div class="log-in-btn">Add lesson</div>
</button>
    </div>
</form>
<form id="log-form" class="log-block-form" method="post" asp-controller="Data" asp-action="Exam">
    <div class="log-container">

        <input name="ModelString" type="hidden" value="@Model.CurrentStruct">
        <button type="submit" class="registerbtn">
            <div class="log-in-btn">Add exam</div>
        </button>
    </div>
    </div>
</form>
