.headerContainer {
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    align-items: center;
    background-color: #FAFAFA;
    padding: 10px 50px;
    box-sizing: border-box;
}

.leftContainer {
    display: flex;
    position: relative;
    gap: 15px;
}

.rightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    height: 44px;
}

.logoImage {
}

.logoTitle {

    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */


    color: #2900FF;
}

.allCoursesButton {
    display: flex;
    gap: 15px;

    position: relative;
    cursor: pointer;
    user-select: none;
}

.allCoursesButton:hover {
    color: #0093DC;
}

.allCoursesArrow {
}

.allCoursesTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
}

.headerLang {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.headerLangElement {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    cursor: pointer;
    height: 29px;
}

.headerLangElement:hover {
    color: #0093DC;
    border-bottom: 3px solid;
    box-sizing: border-box;
}

.userMiniAvatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}