.header-cont{
    width: 1320px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.header-comp-logo{
    width: 24px;
    height: 20px;
}
.header-comp-name{
    display: flex;
    align-items: center;

    width: 91px;

    font-family: 'Prompt', serif;
    font-style: normal;
    font-weight: 300;
    margin-left: 20px;
    font-size:20px;
}
.main-container{
    height: 840px;
    width: 1320px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.log-block-form{
    display: block;
}
.log-container{
    margin-right: auto;
    margin-left: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}
.reg-log-input {
    width: 548px;
    height: 40px;
    /* white_sh */

    background: #FDFDFD;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: black;
    margin-bottom:20px;
}
.registerbtn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 8px 47px;
    gap: 10px;

    width: 394px;
    height: 39px;

    /* primary_ver_1 */

    background: #0093DC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    border-width: 0;
    color: white;
}
.log-in-btn{
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
}
.log-label{
    width: 47px;
    height: 18px;

    /* raleway_16_shortline */

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
}