.footerContainer {    
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: #FAFAFA;
    
    padding: 25px 25px;
    box-sizing: border-box;

    gap: 50px;
}

.logoImg {
    width: 32px;
    height: 32px;
}

.footerTile {
    margin-top: unset;
    width: unset;
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #3A3B3F;
}

.allRights {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


.leftContainer{
    display: flex;
    align-items: center;
    gap: 8px;
}

.rightContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
.contactHref {
    width: auto;
    font-family: 'Prompt', sans-serif;
    font-size:16px;
    font-weight: 300;
    color: #3A3B3F;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.contactImg{
    height: 32px;
    width: 32px;
    align-self: center;
}