.footer {
    background-color: #EDEDED;
    margin-top: 85px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allRights {
    height: 40px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: #000000;
    background: rgba(225, 225, 225, 1);
}

.footerTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    padding: 29px 0;
    width: 1320px;
}

.footerTile {
    font-family: 'Prompt', sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 100%;
    color: #3A3B3F;
}

.footerLogo {
    width: 40px;
    height: 32px;
}

.footerContentContainer {
    display: flex;
    justify-content: flex-start;
    width: 1320px;
    margin-bottom: 20px;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    max-width: 322px;

}

.columnElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    width: 320px;

}

.footerIcon {

}

.columnHref {
    line-height: 30px;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

@media only screen and (max-width: 844px) {
    .footerTitleContainer {
        align-self: flex-start;
        margin-left: 24px;
        width: auto;
    }
    .footerContentContainer {
        width: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 425px) {
    .footer {
        margin-top: 2rem;
    }
}
