.certContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.certElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    width: 256px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.certTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    align-self: flex-start;
}

.certImage {
    height: 362px;
}

.certDownloadButton {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color:#FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 172px;
    height: 27px;

    background: #0093DC;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 55px;

   
}