.certContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 10px;
    gap: 40px;
}

.certElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 256px;
}

.certTitle {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    align-self: flex-start;
    width: 100%;
    white-space: nowrap;
}

.certTitle > span {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.certTitleEllipsis {
    display: inline-block;
    width: calc(50% + 1.2em);
    text-overflow: ellipsis;
}

.certTitleIndent {
    display: inline-flex;
    width: calc(50% - 1.2em);
    justify-content: flex-end;
}

.certImage {
    height: 362px;
}

.certDownloadButton {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 172px;
    height: 27px;

    background: #0093DC;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 55px;

    cursor: pointer;
    user-select: none;
}