@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Backend.ViewModels.ExamViewModel
@{
    ViewBag.Title = "Exam";
    Layout = "CLLayout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="main-container-list-result-cont-test">
    @if (Model.Questions is not null)
    {
        @foreach (var item in Model.Questions)
        {
            <div class="main-container-list-result-cont-1">Тест</div>
            <form class="course-test-que">
                <p class="course-test-que-text">После того как тема сформулирована, скрытый смысл неустойчив. Кульминация точно просветляет дискурс, но не рифмами?</p>
                <div class="test-que">
                    <input class="test-que-checkbox" type="checkbox" name="test-que" id="test-1">
                    <label class="course-test-que-text-text">Контрапункт иллюстрирует холодный цинизм. Олицетворение, несмотря на внешние воздействия, постоянно</label>
                </div>
                <div class="test-que">
                    <input class="test-que-checkbox" type="checkbox" name="test-que" id="test-2">
                    <label class="course-test-que-text-text">Гекзаметр представляет собой урбанистический реформаторский пафос, тем не менее узус никак не предполагал здесь родительного падежа</label>
                </div>
                <div class="test-que">
                    <input class="test-que-checkbox" type="checkbox" name="test-que" id="test-4">
                    <label class="course-test-que-text-text">Аллитерация неумеренно выбирает поэтический стиль </label>
                </div>
                <div class="test-que">
                    <input class="test-que-checkbox" type="checkbox" name="test-que" id="test-4">
                    <label class="course-test-que-text-text">Впечатление выбирает конструктивный механизм сочленений. Ударение нивелирует поток сознания</label>
                </div>
            </form>

        }

    }

    <form class="course-test-que">
        <p class="course-test-que-text">После того как тема сформулирована?</p>
        <div class="test-que">
            <input class="test-que-checkbox" type="radio" name="test-que" id="test-1">
            <label class="course-test-que-text-text">Впечатление</label>
        </div>
        <div class="test-que">
            <input class="test-que-checkbox" type="radio" name="test-que" id="test-2">
            <label class="course-test-que-text-text">Впечатление</label>
        </div>
        <div class="test-que">
            <input class="test-que-checkbox" type="radio" name="test-que" id="test-4">
            <label class="course-test-que-text-text">Впечатление</label>
        </div>
        <div class="test-que">
            <input class="test-que-checkbox" type="radio" name="test-que" id="test-4">
            <label class="course-test-que-text-text" for="test-4">Впечатление</label>
        </div>
    </form>



    <form class="course-test-que">
        <p class="course-test-que-text">После того как тема сформулирована, скрытый смысл неустойчив. Кульминация точно просветляет дискурс, но не рифмами. Слово, согласно традиционным представлениям, начинает метафоричный?</p>
        <img class="png-que" src="pict\excel.png">
        <div class="test-que">
            <input class="test-que-checkbox" type="checkbox" name="test-que" id="test-1">
            <label class="course-test-que-text-text">Контрапункт иллюстрирует холодный цинизм. Олицетворение, несмотря на внешние воздействия, постоянно</label>
        </div>
        <div class="test-que">
            <input class="test-que-checkbox" type="checkbox" name="test-que" id="test-2">
            <label class="course-test-que-text-text">Гекзаметр представляет собой урбанистический реформаторский пафос, тем не менее узус никак не предполагал здесь родительного падежа</label>
        </div>
    </form>
</div>