.gridContent {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 52px;
    margin: 0 8%;
    box-sizing: border-box;
    /*min-width: 1200px;*/
}

.orderCompletion {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 760px;
}

.orderCompletion h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 21px;
}

.orderCompletion .fieldWrapper {
    width: 100%;
    max-width: 617px;
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
}

.orderCompletion .fieldWrapper label {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.orderCompletion .fieldWrapper input {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;

    background: #FDFDFD;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: black;
    padding-left: 10px;
    box-sizing: border-box;


    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

.totalInfoCard {
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.totalInfoCard h2 > span:first-child {
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

.totalInfoCard h2 {
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 19px;
}

.totalInfoCard h4 {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    gap: 19px;

    margin-block-start: 0.7em;
    margin-block-end: 0.7em;

}

.totalInfoCard h2 {
    font-size: 32px;
    line-height: 108.5%;
}

.totalInfoCard h4 {
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.6);;
}

.totalInfoCard h4 span {
    white-space: nowrap;
}

.totalInfoCard button {
    background: #0093DC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    min-height: 32px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.ordersContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ordersContainer h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.clickLogo {
    padding: 4px 10px;
    cursor: pointer;
    color: #fff;
    line-height: 190%;
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    border: 1px solid #037bc8;
    text-shadow: 0px -1px 0px #037bc8;
    border-radius: 4px;
    background: #27a8e0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3YThlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzhlZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#27a8e0), to(#1c8ed7));
    background: -webkit-linear-gradient(#27a8e0 0%, #1c8ed7 100%);
    background: -moz-linear-gradient(#27a8e0 0%, #1c8ed7 100%);
    background: -o-linear-gradient(#27a8e0 0%, #1c8ed7 100%);
    background: linear-gradient(#27a8e0 0%, #1c8ed7 100%);
    box-shadow: inset 0px 1px 0px #45c4fc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27a8e0', endColorstr='#1c8ed7', GradientType=0);
    -webkit-box-shadow: inset 0px 1px 0px #45c4fc;
    -moz-box-shadow: inset 0px 1px 0px #45c4fc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.clickLogo i {
    background: url(https://m.click.uz/static/img/logo.png) no-repeat top left;
    width: 30px;
    height: 25px;
    display: block;
    float: left;
}

@media only screen and (max-width: 1210px) {
    .totalInfoCard h2 {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 1100px) {
    .gridContent {
        grid-template-columns: 1fr;
    }

    .ordersContainer {
        grid-row-start: 1;
    }

    .orderCompletion {
        grid-row-start: 2;
    }

    .totalInfoCard button {
        max-width: 250px;
        margin: 0 auto;
        width: 100%;
    }

    .orderCompletion {
        min-width: auto;
    }
}
