.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.contentHeading {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;

    display: flex;
    width: 100%;
}

.contentText {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    width: 100%;
}

.contentMedia {
    width: 100%;
    display: flex;
    justify-content: center;
}