@keyframes sun-rise {
    from {
        transform: translateY(70%);
        opacity: 0;
    }
    50% {
        opacity: 0.75;
    }
    65% {
        transform: translateY(-45%);
        opacity: 1;
    }
    to {
        transform: translateY(0);
    }
}

.headerWrapper {
    display: flex;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    width: 100%;
    padding: 24px 0;
    box-sizing: border-box;
    z-index: 999;
}

.navMenu {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    box-sizing: border-box;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 130px;
    opacity: .3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 900;
    transition-duration: 350ms;
    transition-timing-function: ease-out;
    transform: translateX(110%);
    background-color: white;
}

.navMenuShown {
    transform: translateX(0);
    opacity: 1;
}
.navMenuShown span {
    animation-delay: 380ms;
    animation-duration: .5s;
    animation-name: sun-rise;
    animation-fill-mode: backwards;
}

.menuTrigger {
    background: none;
    border: none;
    outline: none;
    display: none;
    position: relative;
    padding: 0;
}

.menuTrigger:focus {
    outline: 1px solid #77bbfe;
}
.shownTrigger {
    opacity: 1 !important;
    position: absolute;
    left: 0;
    right: 0;
    transform: rotate(360deg) !important;
}

.menuTrigger img {
    max-height: 45px;
    transition-delay: 300ms;
    transition-duration: 300ms;
    opacity: 0;
}

@media only screen and (max-width: 844px) {
    .menuTrigger {
        display: inline;
    }
}

.headerContainer {
    display: flex;
    width: 1320px;
    justify-content: space-between;
}

.headerLang {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.headerLangElement {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    cursor: pointer;
    height: 29px;
}

.headerLangElement:hover {
    color: #0093DC;
    border-bottom: 3px solid;
    box-sizing: border-box;
}

.langSelected {
    color: #0093DC;
}

.svgLogo {
    margin-right: 15px;
}

.headerContainerLeftSection {
    display: flex;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
}

.headerContainerLeftSectionText {
    width: 146px;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    color: #2900FF;
}

.headerContainerRightSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.headerContainerRightSectionLang {
    display: flex;
    align-items: center;
}

.headerContainerRightSectionLangElement {
    width: 31px;
    height: 33px;


    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 33px;

    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}

.loginButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 47px;
    gap: 10px;

    /* primary_ver_1 */

    background: #0093DC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    border-width: 0;

    /* rw_reg_20 */

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    text-decoration: none;
    user-select: none;

    cursor: pointer;
}

.loginButton:hover {
    background-color: #33A9E3;
}

.regButton {
    color: #0093DC;
    border: 3px solid #0093DC;
    background: white;
}

.regButton:hover {
    background: #0093DC;
    color: white;
}


@media only screen and (max-width: 844px) {
    .headerWrapper {
        justify-content: space-between;
        padding: 24px 1rem;
    }

    .headerContainer {
        width: auto;
    }

    .headerContainerRightSection > span {
        display: none;
    }

    .headerContainerRightSectionLang {
        flex-direction: row;
        justify-content: space-around;
    }

    .loginButton {
        max-width: 350px;
        width: 100%;
        margin: 1rem auto 0;
    }

    .headerContainer {
        flex: 1;
    }
}

@media only screen and (max-width: 425px) {
    .headerContainerLeftSectionText {
        display: none;
    }
}
