.headerWrapper {
    display: flex;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    width: 100%;
    padding: 24px 0;
    box-sizing: border-box;
}

.headerContainer{
    display: flex;
    width: 1320px;
    justify-content: space-between;
}

.headerLang {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.headerLangElement {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    cursor: pointer;
    height: 29px;
}

.headerLangElement:hover {
    color: #0093DC;
    border-bottom: 3px solid;
    box-sizing: border-box;
}

.langSelected {
    color: #0093DC;
}
.svgLogo {
    margin-right: 15px;
}

.headerContainerLeftSection {
    display: flex;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
}

.headerContainerLeftSectionText {
    width: 146px;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    color: #2900FF;
}

.headerContainerRightSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.headerContainerRightSectionLang {
    display: flex;
    align-items: center;
}

.headerContainerRightSectionLangElement {
    width: 31px;
    height: 33px;


    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 33px;

    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}

.loginButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 47px;
    gap: 10px;

    /* primary_ver_1 */

    background: #0093DC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
    border-width: 0;

    /* rw_reg_20 */

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    text-decoration: none;
    user-select: none;
    
    cursor: pointer;
}

.loginButton:hover {
    background-color: #33A9E3;
}

.regButton {
    color: #0093DC;
    border: 4px solid #0093DC;
    background: white;
}
.regButton:hover {
    background: #0093DC;
    color: white;
}