
.text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.no_courses {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-bottom: 20px;
}