.footer {
    background-color: #EDEDED;
    margin-top: 85px;
    padding-left: 120px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;

}

.allRights {
    height: 40px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: #000000;
    background: rgba(225, 225, 225, 1);
}

.footerTitleContainer {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1110px; /*TODO: refactoring 1000px gap*/
}

.footerTile {
    font-family: 'Prompt', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #3A3B3F;
}

.footerLogo {
    display: flex;
    width: 40px;
    height: 32px;
    position: relative;
    top: 50%;
    transform: translate(-150%, 30%);

}

.footerContentContainer {
    display: flex;
    gap: 200px;
    line-height: 23px;
    margin-bottom: 10px;
    justify-content: center;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;


}

.columnElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    width: 320px;

}

.footerIcon {

}

.columnHref {
    line-height: 30px;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}